
NODE_SERVER_ENV=development
NODE_SERVER_PORT=5000
SIT_LINK=http://localhost:5000/
DB_NAME=EcommerceMern
DB_USER=root
DB_PASSWORD=
DB_HOST=localhost
SECRET_SETION_KEY=this is secret setion key
TIME_OF_PRODUCT_IN_CART=24
TIME_OF_ResetPassword=1
NUMBER_OF_LETTERS_OF_TESTMONIAL=220
SECRET_KEY = 01024756410AHMED
TIMEOFSIGNIN=3d

NODEMAILER_HOST=smtp.gmail.com
NODEMAILER_PORT=587
NODEMAILER_SERVICE=gmail
NODEMAILER_USERNAME=zaza090977777@gmail.com
NODEMAILER_PASSWORD=tnnqvkmflmnktdsp

MONGOODBURL=mongodb://localhost:27017/EcommerceMern
recaptcherSecretKey=6LdNnqMlAAAAANxxNDOLCC2AS2pRCRcX5p0Ivq2M
recaptcherSitKey=6LdNnqMlAAAAAOkTNzXwwv5Zfkjg_WafpUadwzrF
# https://www.google.com/recaptcha/admin


elementPerPage=3
elementPerPageSite=5
SALT_ROUNDS=10